# Unity 생성 파일
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
[Rr]ecordings/

# Asset Store Tools (필요 시 주석 제거)
# /[Aa]ssets/AssetStoreTools*

# JetBrains Rider 생성 파일
/[Aa]ssets/Plugins/Editor/JetBrains*

# Visual Studio, MonoDevelop 생성 파일
.vs/
*.csproj
*.sln
*.unityproj
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.opendb
*.VC.db

# Crashlytics 생성 파일
crashlytics-build.properties

# Unity에서 생성하는 메타파일
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Unity의 시스템 정보 파일
sysinfo.txt

# 빌드 산출물
*.apk
*.aab
*.unitypackage
*.app

# Packed Addressables
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# Android 임시 파일
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*

# macOS 관련 파일
.DS_Store

# Windows 관련 파일
Thumbs.db
desktop.ini

# 임시 또는 백업 파일
*.swp
*.bak
*.tmp

# Git 자체 파일
*.orig

UpgradeLog.htm